/* ===== Scrollbar CSS ===== */

/* Firefox */

* {
  scrollbar-width: thin;
  scrollbar-color: #878787 #2e2e2e;
}

/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #2e2e2e;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(48,48,48,0.01);
  border-radius: 2px;
  /*border: 6px solid #ffffff;*/
}

.nav-link {
  color: #9b9b9b;
}

